{% extends 'base.html' %}

    {% block content %}

    <body style="background-color:  rgba(98,82,97,1)">
        <div class="container-fluid">
            <div class="row" >
            <div class="col-sm">
                <div class="contactsFrame2">
                    <span class="contactsFont2">Contacts</span>
                </div>
            </div>
            </div>
            
            <div class="row">
                <div class="col-sm">
                    <div class="gitlabFrame"><span class="gitlabFont">www.gitlab.com/AdrianChandraRachman</span></div>
                    <div class="gitImage"></div>
                    <div class="linkedinFrame"><span class="linkedinFont">www.linkedin.com/in/adrian-chandra-rachman-883b6a1a3/</span></div>
                    <div class="linkedinImage"></div>
                    <div class="emailFrame"><span class="emailFont">adriancrachman02@gmail.com</span></div>
                    <div class="emailImage"></div>
                </div>
                <div class="col-sm">
                    <div class="instaFrame"><span class="instaFont">www.instagram.com/adriancrachman/</span></div>
                    <div class="instagramImage"></div>
                    <div class="phoneFrame"><span class="phoneFont">081293322267</span></div>
                    <div class="phoneImage"></div>
                </div>
            </div>

            <div class="row">
                <div class="whatsappFrame"></div>
                <div class="telegramFrame"></div>
                <div class="lineFrame"></div>
                <div class="lineImage"></div>
                <div class="whatsappImage"></div>
                <div class="telegramImage"></div>
            </div>
        </div>
    </body>

    {% endblock %}
    