{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
    <body style="background-color:  rgba(98,82,97,1)">
            <form method = "POST" >
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Save"> 
            </form>
        </body>
{% endblock %}
