{% extends 'base.html' %}

{% load static %}

    

{% block content %}

    <body style="background-color:  rgba(98,82,97,1)">

        {% for i in object %}
            <div class="card" style="width: 18rem; margin: 3%;"> 
                <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.description}}</p>
                <a href="{% url 'MatkulDetail' my_id=i.id %}" class="btn btn-primary">View Details</a>
                <a href="{% url 'DeleteView' my_id=i.id %}" class="btn btn-warning">Delete</a>
                </div>
            </div>
        {% endfor %}


    </body>

{% endblock %}